<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/">Inventory Manager</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="/inventories">Inventories</a>
      <a class="nav-item nav-link" routerLink="/about">About</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <input type="button" class="btn btn-primary " value="Login" />
    </div>
  </div>

</nav>
