<app-header></app-header>
<div class="container">
  <ng-content></ng-content>
  <h2 class="jumbotron">Inventories</h2>
<table class="table">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Manufactured Date</th>
  </tr>
  <tr *ngFor="let inventory of inventories">
    <td>{{ inventory.id }}</td>
    <td>{{ inventory.name }}</td>
    <td>{{ inventory.manufactureDate }}</td>
  </tr>
</table>
</div>
<app-footer></app-footer>
